 ***MySQL ASSIGNMENT***

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans-

***Database:***

A database is a structured data storage system used for efficient data retrieval, management, and manipulation.

***SQL database:***

***Data Model:*** Relational tables with fixed schemas.
***Schema:*** Fixed schema requiring predefined table structures.
***Query Language:*** Standardized SQL for complex queries.
***Scalability:*** Vertical scaling, adding resources to a single server.
***Use Cases:*** Structured data applications like finance and e-commerce.
***Consistency and ACID:*** Strong consistency with ACID properties.

***NoSQL Database:***

***Data Model:*** Various models (document, key-value, etc.) with dynamic schemas.
***Schema:*** Dynamic schema for flexible data storage.
***Query Language:*** Specific query languages or APIs for each model.
***Scalability:*** Horizontal scaling, adding servers to a distributed cluster.
***Use Cases:*** Unstructured or rapidly evolving data in applications like IoT and real-time analytics.
***Consistency:*** May prioritize availability and partition tolerance over strict consistency.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans-

DDL stands for Data Definition Language. It is a computer language that is used to create and modify the structure of database objects. These objects include tables, schemas, views, and indexes.

***Create:***

The CREATE statement is used to create new database objects, such as tables, indexes, and views.

In [ ]:
pip install ipython-sql

In [3]:
%load_ext sql

In [4]:
%%sql sqlite:///mydatabase.db

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

In [5]:
import mysql.connector

In [7]:
mydb1=mysql.connector.Connect(host="localhost" , user="abc" , password="password" , database="mydatabase")

In [8]:
# Create a cursor object
cursor = mydb1.cursor()

In [9]:
create_table_query = """
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);
"""

In [ ]:
cursor.execute(create_table_query)

***DROP:***

Purpose: The DROP statement is used to delete an existing database object like a table, index, view, or schema.

Example: Dropping the employees table:

In [11]:
drop_table_query = "DROP TABLE IF EXISTS employees;"

In [12]:
cursor.execute(drop_table_query)

***ALTER:***

Purpose: The ALTER statement is used to modify an existing database object. It can be used to add, modify, or delete columns, constraints, or indexes.

Example: Adding a new column department to the employees table:

In [1]:
create_table_query = """
CREATE TABLE employees2 (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50)
);
"""

In [ ]:
cursor.execute(create_table_query)

In [35]:
alter_table="ALTER TABLE employees2 ADD COLUMN department VARCHAR(50);"
cursor.execute(alter_table)

***TRUNCATE:***

Purpose: The TRUNCATE statement is used to remove all rows from a table while retaining the table structure. It's a faster way to delete all data compared to using DELETE without a WHERE clause.

Example: Truncating the employees table:

In [45]:
cursor.execute("insert into employees2 (employee_id,first_name,last_name,department)VALUES(229 , 'MOHD' , 'OSAMA' ,  'data') ")

In [43]:
mydb1.commit()

In [46]:
truncate_table="TRUNCATE TABLE employees2"
cursor.execute(truncate_table)

In [47]:

cursor.close()
mydb1.close()

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans-

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for managing data within a relational database management system (RDBMS). DML is primarily concerned with the manipulation of data stored in database tables. There are three main DML operations: INSERT, UPDATE, and DELETE.

***INSERT:***

The INSERT statement is used to add new records (rows) to a database table.

In [48]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [49]:
mydb2=mysql.connector.Connect(host="localhost" , user="abc" , password="password" , database="mydatabase")

In [50]:
cursor=mydb2.cursor()

In [54]:
cursor.execute("insert into employees2 values(225 , 'MOHD' , 'OSAMA' , 'DATA SCIENCE' ) ")
mydb2.commit()
mydb2.close()

***UPDATE:***

The UPDATE statement is used to modify existing records in a database table.

In [13]:
mydb2=mysql.connector.Connect(host="localhost" , user="abc" , password="password" , database="mydatabase")

In [14]:
cursor=mydb2.cursor()

In [15]:

updates="UPDATE employees2 SET first_name='mohammad' WHERE first_name='mohd'"



cursor.execute(updates)
mydb2.commit()

***DELETE:***

The DELETE statement is used to remove records from a database table.

In [16]:
mydb2=mysql.connector.Connect(host="localhost", user="abc", password="password", database="mydatabase")
cursor=mydb2.cursor()

In [18]:
delete_query = """
DELETE FROM employees2
WHERE employee_id = 225;
"""
cursor.execute(delete_query)
mydb2.commit()
mydb2.close()

Q4. What is DQL? Explain SELECT with an example.

Ans-

DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) that is specifically focused on retrieving data from a database. DQL is primarily concerned with the SELECT statement, which is used to query data from one or more database tables.

Here's an explanation of the SELECT statement with an example:

***SELECT Statement:***

The SELECT statement is used to retrieve data from one or more database tables. It allows you to specify which columns you want to retrieve, the table(s) from which you want to retrieve data, and optional filtering and sorting criteria. The basic syntax of a SELECT statement is as follows:

In [31]:
cursor=mydb2.cursor()

In [32]:
mydb2=mysql.connector.Connect(host="localhost", user="abc", password="password", database="mydatabase")
cursor=mydb2.cursor()

In [33]:
import sqlite3

# Create a database connection (or open an existing one)
conn = sqlite3.connect('mydatabase.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [39]:

# Create a table
cursor.execute('''
    CREATE TABLE employees7 (
        employee_id INTEGER PRIMARY KEY,
        first_name TEXT,
        last_name TEXT,
        job_title TEXT,
        salary REAL
    )
''')

In [40]:


# Insert data into the table
cursor.execute("INSERT INTO employees7 (first_name, last_name, job_title, salary) VALUES (?, ?, ?, ?)",
               ('mohd', 'yasir', 'data_analyst', 75000))
cursor.execute("INSERT INTO employees7 (first_name, last_name, job_title, salary) VALUES (?, ?, ?, ?)",
               ('mohd', 'osama', 'Data Analyst', 60000))

In [41]:
mydb2.commit()

In [43]:
cursor.execute('SELECT * FROM employees7')


rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'mohd', 'yasir', 'data_analyst', 75000.0)
(2, 'mohd', 'osama', 'Data Analyst', 60000.0)

In [49]:
# here select statement using
cursor.execute("SELECT first_name,last_name FROM employees7 WHERE salary >50000 ")
rows = cursor.fetchall()
for i in rows:
    print(i)

('mohd', 'yasir')
('mohd', 'osama')

In [50]:
mydb2.close()

Q5. Explain Primary Key and Foreign Key.

Ans-

Primary Key and Foreign Key are two important concepts in relational databases, and they define the relationships between tables and ensure data integrity.

***PRIMARY KEY:***

A Primary Key is a column (or a set of columns) in a database table that uniquely identifies each row in that table.
It ensures that each row in the table has a unique identifier, and it prevents duplicate records.
A Primary Key column cannot contain NULL values because NULL is not a unique identifier.
In most database systems, Primary Keys are automatically indexed, which helps in faster data retrieval.

***FOREIGN KEY:***

A Foreign Key is a column or a set of columns in a table that is used to establish a link between the data in two tables.
It creates a relationship between two tables by referencing the Primary Key of another table.
The Foreign Key in one table matches the Primary Key in another table, creating a connection between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans-

Connect MySQL to python

In [51]:
import mysql.connector

In [57]:
# connect the  sql server
mydb2=mysql.connector.Connect(host="localhost",user="abc",password="password",database="mydatabase")

In [53]:
cursor=mydb2.cursor()

In [55]:
# here making table
cursor.execute('''
    CREATE TABLE employeee(
        employee_id INT PRIMARY KEY,
        fir_name TEXT,
        last_name TEXT
    )
    
''')

In [56]:
cursor.execute("SHOW DATABASES")
for x in cursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

***Cursor() and execute method()***

In the context of database programming, the cursor and execute() methods are essential components for interacting with a database. They are commonly used when working with database connections in various programming languages, including Python.

***CURSOR:***

A cursor is an object used to manage the context of a specific database operation, such as querying, inserting, updating, or deleting records in a database.
Cursors allow you to navigate through the result sets of queries, execute SQL statements, and manage transactions.

***EXECUTE method:***

The execute() method is a method provided by cursors (or similar database access objects) to execute SQL statements and database operations.
It allows you to send SQL queries, data modification statements (e.g., INSERT, UPDATE, DELETE), and other database commands to the database engine.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans-

In an SQL query, the clauses are executed in a specific order, and the order of execution is important to understand the logic of how a query is processed. The typical order of execution for SQL clauses is as follows:

***FROM Clause***

The FROM clause is the first clause to be executed.
It specifies the table(s) from which data will be retrieved.
If there are multiple tables involved (e.g., in a JOIN operation), the tables are combined as specified in the FROM clause.

***WHERE Clause***

The WHERE clause is executed after the FROM clause.
It filters the rows from the tables specified in the FROM clause based on a given condition.

***GROUP BY Clause***

The GROUP BY clause is executed after the WHERE clause (if present).
It groups the result set into sets of rows that have the same values in specified columns.
This clause is typically used with aggregate functions (e.g., SUM, COUNT) to perform calculations on grouped data.

***HAVING Clause***

The HAVING clause is executed after the GROUP BY clause (if present).
It filters the groups produced by the GROUP BY clause based on a condition.

***SELECT clause***

The SELECT clause is executed after the previous clauses (FROM, WHERE, GROUP BY, HAVING).
It specifies which columns from the result set should be included in the output.
It may also include expressions and calculations on columns.

***ORDER BY Clause***

The SELECT clause is executed after the previous clauses (FROM, WHERE, GROUP BY, HAVING).
It specifies which columns from the result set should be included in the output.
It may also include expressions and calculations on columns.